@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(45deg, red, blue, green, black);
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 10s ease-in-out infinite;
}

@keyframes cambiar {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.fondo {
    background-image: url(/img/img-meeting-conference-home.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 220px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 190px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    color: white;
    margin: 10px;
    padding: 5px;
    width: 100px;
    height: 40px;
    text-align: center;
    background-color: rgb(255, 0, 119);
}

nav a:hover {
    background-color: #ddd;
    color: black;

}

nav a.active {
    background-color: rgb(112, 15, 75);
    color: white;
}
.posicion-flechas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background: linear-gradient(45deg, red, blue, green, black);
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 10s ease-in-out infinite;

}

.triangulo {
    border-style: solid;
    border-width: 18px;
}

.triangulo>div {
    border-style: solid;
    border-width: 10px;
}

.triangulo.right {
    border-color: transparent transparent transparent black;
}

.triangulo.left {
    border-color: transparent black transparent transparent;

}
footer {
    background-color: rgb(219, 179, 179);
    width: 100%;
    height: 30px;
    display: flex;
    position: fixed;
    bottom: 0;
}

footer p{
    font-size: 23px;
    color: rgb(5, 5, 5);
    width: 100%;
    text-align: center;

}
.container{
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container .card{
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}
.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgb(0, 0, 0, 0.2);
}
.container .card img {
    width: 450px;
    height: 200px;
}

.container .card h4{
    font-weight: 600;
}


@media only screen and (min-width:375px) and (max-width:800px) {
    .caja-detalle {
        width: 350px;
        height: 350px;
    }

    .caja-detalle img {
        width:350px;
        height: 350px;
    }
    @media only screen and (min-width:375px) and (max-width:800px) {
        footer p {
            font-size: 18px;
        }
    }
}
@media only screen and (min-width:350px) and (max-width:775px) {
    nav{
        display:flex;
        flex-direction: column;
    }
    
    nav a{
        width: 52px;
        height: 30px;
        font-size: 12px;
        padding: 0;
        margin: 5px;
    }
}
@media only screen and (min-width:350px) and (max-width:625px) {
    .fondo{
        background-size: contain;
    }
}