@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../img/pexels-photo-391535.webp);
    background-size: cover;
    background-attachment: fixed;
}

.fondo {
    background-image: url(/img/pexels-photo-3696395\ \(1\).webp);
    background-size: cover;
    width: 100%;
    height: 220px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 190px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    color: white;
    margin: 10px;
    padding: 5px;
    width: 100px;
    height: 40px;
    text-align: center;
    background-color: blue;
}

nav a:hover {
    background-color: #ddd;
    color: black;

}

nav a.active {
    background-color: red;
    color: white;
}

.posicion-flechas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: rgb(204, 67, 13);

}

.triangulo {
    border-style: solid;
    border-width: 18px;
}

.triangulo>div {
    border-style: solid;
    border-width: 10px;
}

.triangulo.right {
    border-color: transparent transparent transparent black;
}

.triangulo.left {
    border-color: transparent black transparent transparent;

}

.contact_form {
    width: 460px;
    margin: 30px auto;
    border-radius: 10px;
    padding-top: 15px;
    background-color: #a78787;
    padding-left: 30px;
}


input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #22021b;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}


textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #c20d0d;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}


label {
    display: block;
    float: center;
}


button {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #df5159;
    border-color: #ab4493;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer;
}


button {
    color: #fff;
}


span {
    color: #080107;
}


.aviso {
    font-size: 13px;
    color: #0e0e0e;
}

h3 {
    font-size: 16px;
    padding-bottom: 30px;
    color: #0e0e0e;
}


p {
    font-size: 14px;
    color: #0e0e0e;
}


::-webkit-input-placeholder {
    color: #a8a8a8;
}


::-webkit-textarea-placeholder {
    color: #a8a8a8;
}


.formulario input:focus {
    outline: 0;
    border: 1px solid #97d848;
}


.formulario textarea:focus {
    outline: 0;
    border: 1px solid #97d848;
}
footer {
    background-color: rgb(219, 179, 179);
    height: 35px;
    line-height: 20px;
    width: 100%;
    position:fixed;
    bottom: 0;
}
@media only screen and (min-width:375px) and (max-width:768px){
    .contact_form {
        width: 250px;
    }
    .contact_form input{
        width: 200px;
    }
    button{
        width: 200px;
    }
    textarea{
        width: 200px;
    }
}