@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(45deg, red, blue, green, black);
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 10s ease-in-out infinite;
}

@keyframes cambiar {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.fondo {
    background-image: url(/img/img-meeting-conference-home.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 220px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 190px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    color: white;
    margin: 10px;
    padding: 5px;
    width: 100px;
    height: 40px;
    text-align: center;
    background-color: rgb(255, 0, 119);
}

nav a:hover {
    background-color: #ddd;
    color: black;

}

nav a.active {
    background-color: rgb(112, 15, 75);
    color: white;
}
.posicion-flechas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background: linear-gradient(45deg, red, blue, green, black);
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 10s ease-in-out infinite;

}

.triangulo {
    border-style: solid;
    border-width: 18px;
}

.triangulo>div {
    border-style: solid;
    border-width: 10px;
}

.triangulo.right {
    border-color: transparent transparent transparent black;
}

.triangulo.left {
    border-color: transparent black transparent transparent;

}
footer {
    background-color: rgb(219, 179, 179);
    width: 100%;
    height: 30px;
    display: flex;
    position: fixed;
    bottom: 0;
}

footer p{
    font-size: 23px;
    color: rgb(5, 5, 5);
    width: 100%;
    text-align: center;

}
html,
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(45deg, red, blue, green, black);
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 10s ease-in-out infinite;
}

.container{
    max-width: 85%;
    height: 95%;
    display: flex;
    align-items: flex-end;
    justify-content:flex-end;
}
.card {
    transform: translate(-50%,-50%);
    width:500px;
    height: 336px;
}
.card .imgs {
    width: 300px;
}
.card .imgs img {
    width: 200%;
    height: 335px;
    transition: .5s;
}
.card:hover .imgs img {
    opacity: .5;
    transform: translateX(30%);
}
.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;/*100%*/
    height: 100%;
    background: #991e57;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}
.card:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.card .details .center h1 {
    color: #ff3636;
    line-height: 50px;
    font-size: 25px;
    text-transform: uppercase;
}

@media only screen and (min-width:375px) and (max-width:800px) {
    .caja-detalle {
        width: 350px;
        height: 350px;
    }

    .caja-detalle img {
        width:350px;
        height: 350px;
    }
    @media only screen and (min-width:375px) and (max-width:800px) {
        footer p {
            font-size: 18px;
        }
    }
}
@media only screen and (min-width:350px) and (max-width:775px) {
    nav{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    
    nav a{
        width: 52px;
        height: 30px;
        font-size: 12px;
        padding: 0;
        margin: 5px;
    }
}
@media only screen and (min-width:350px) and (max-width:625px) {
    .fondo{
        background-size: contain;
    }
}