@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../img/pexels-photo-391535.webp);
    background-size: cover;
    background-attachment: fixed;
}

.fondo {
    background-image: url(/img/img-meeting-conference-home.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 220px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 190px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    color: white;
    margin: 10px;
    padding: 5px;
    width: 100px;
    height: 40px;
    text-align: center;
    background-color: blue;
}

nav a:hover {
    background-color: #ddd;
    color: black;

}

nav a.active {
    background-color: red;
    color: white;
}
.posicion-flechas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: rgb(204, 67, 13);

}

.triangulo {
    border-style: solid;
    border-width: 18px;
}

.triangulo>div {
    border-style: solid;
    border-width: 10px;
}

.triangulo.right {
    border-color: transparent transparent transparent black;
}

.triangulo.left {
    border-color: transparent black transparent transparent;

}
footer {
    background-color: rgb(219, 179, 179);
    width: 100%;
    height: 30px;
    display: flex;
    position: fixed;
    bottom: 0;
}

footer p{
    font-size: 23px;
    color: rgb(5, 5, 5);
    width: 100%;
    text-align: center;

}

.caja-position {
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja-detalle {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
}

.caja-detalle img {
    width: 600px;
    height: 350px;
    object-fit: fill;
    display: flex;
}

h3 {
    display: flex;
    flex-direction: row;
    color: rgb(80, 6, 6);
}

.caja-detalle img h4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width:375px) and (max-width:597px) {
    .caja-detalle {
        width: 350px;
        height: 350px;
    }

    .caja-detalle img {
        width:350px;
        height: 350px;
    }
    @media only screen and (min-width:375px) and (max-width:800px) {
        footer p {
            font-size: 18px;
        }
    }
}